<li>
  <%=link_to kitten.name, kitten_path(kitten) %><br>
  Age: <%= kitten.age %><br>
  Cuteness: <%= kitten.cuteness %><br>
  Softness: <%= kitten.softness %>
  <%= form_for kitten, html: { method: :delete } do |f| %>
    <%= f.submit "Kill this kitten" %>
  <% end %>
</li>
